.option {
  border: 2px solid lightgray;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  .pronunciation {
    color: darkgray;
    font-size: 1.5rem;
  }

  &.correctSelectedAnswer {
    border-color: green;
    background-color: lightgreen;
  }
  &.wrongSelectedAnswer {
    border-color: red;
    background-color: lightcoral;
  }
  &.correctAnswer {
    // border-color: green;
    background-color: lightgreen;
  }
}
